 ul {
    list-style-type: none;
    text-align: right;
}
li{
    display: inline-block;
}
body{
    background-color: cyan;
}
h1>u{
    text-align: center;
    color: blue;
    padding-left: 42%;
    padding-right: 20%;
}