nav ul > li{
    float: right;
    list-style-type: none;
    line-height: 5px;
    margin-left: 10px;
    color: blue
}
html{
    background-color: aqua;
}
body  {
text-align: center;
font-family:'Times New Roman', Times, serif;
color: blue;
position: relative;

}
#Honors >div {
color: red;
}